*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial, sans-serif;
}

.cards{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
max-width:800px;
margin:auto;
padding:20px;
}

.card{
width:100%;
height:200px;
}

.form-box{
width:400px;
max-width:90%;
margin:auto;
}

table{
width:90%;
margin:auto;
}

input, textarea{
width:100%;
}

button{
padding:12px 20px;
border-radius:8px;
cursor:pointer;
}

@media (max-width:768px){

.cards{
grid-template-columns:1fr;
}

.card{
height:auto;
padding:25px;
}

.form-box{
width:95%;
}

table{
width:95%;
font-size:14px;
}
.table-container{
width:100%;
overflow-x:auto;
}

textarea{
height:150px;
}

}