<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<h2>Scheduled Appointments</h2>
<style>
body{
margin:0;
font-family:Arial, sans-serif;

background:linear-gradient(135deg,#1f4037,#99f2c8);

display:flex;
flex-direction:column;
align-items:center;

min-height:100vh;
color:white;
}

table{
margin-top:30px;
border-collapse:collapse;
width:650px;

background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);

border-radius:10px;
overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

th, td{
padding:12px 18px;
text-align:center;
}

th{
background:rgba(0,0,0,0.2);
}

tr{
border-bottom:1px solid rgba(255,255,255,0.2);
}

tr:hover{
background:rgba(255,255,255,0.1);
}

.add-btn{
margin-top:25px;

padding:12px 20px;
background:linear-gradient(135deg,#3498db,#2980b9);

border:none;
border-radius:8px;
color:white;

cursor:pointer;
font-size:15px;

transition:0.3s;
}

.add-btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.delete-btn{
background:#e74c3c;
color:white;
border:none;

padding:6px 12px;
border-radius:6px;

cursor:pointer;
}

.delete-btn:hover{
background:#c0392b;
}
body{
animation: pageLoad 0.6s ease;
}

@keyframes pageLoad{
0%{
opacity:0;
transform: translateY(20px);
}

100%{
opacity:1;
transform: translateY(0);
}
}
</style>
<div class="table-container">

<table border="1">
<tr>
<th>ID</th>
<th>Patient Name</th>
<th>Doctor</th>
<th>Date</th>
</tr>

{% for appt in appointments %}
<tr>
<td>{{appt[0]}}</td>
<td>{{appt[1]}}</td>
<td>{{appt[2]}}</td>
<td>{{appt[3]}}</td>
<td>
<a href="/delete_appointment/{{ appt[0] }}">
<button class="delete-btn">Delete</button>
</a>
</td>
</tr>
{% endfor %}

</table>
</div>
<div style="margin-top:20px; text-align:center;">

<a href="/book_appointment">
<button class="add-btn">Add Another Appointment</button>
</a>
</div>

<br>
<a href="/dashboard">
<button style="
padding:10px 18px;
background:#2ecc71;
color:white;
border:none;
border-radius:8px;
font-size:14px;
cursor:pointer;
transition:0.3s;
"
onmouseover="this.style.background='#27ae60'"
onmouseout="this.style.background='#2ecc71'">
Back to Dashboard
</button>
</a>